{% extends "BlogCorea/padre.html" %}
{% load static %}


{% block tituloPagina %}
Buscar lugar
{% endblock %}

{% block ContenidoCambia %}
<p> <h4>Buscar lugar:</h4> 
    <br>
    <form action=""  method="post">
        {% csrf_token %}

        <input type="text" name="nombre" id="">
        <input type="Submit" value="Buscar">
    </form>
</p>>
<br>
<p><h5>Resultado:</h5></p>
    <ul>
        {% for lugar in lugaress %}
            <li>{{lugar.nombre}}</li>
        {% endfor %}
    </ul>

{% endblock%}